.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px;
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 50px;
   
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .item1,.item2,.item3{
    text-align: justify;
  }

  .vl {
    border-left: px solid black;
    height: 500px;
  }

  

  .btn-primary{
    height:50px;
    width:50%; 
  }

  .abovefooter{
    width: 1800px;
    height: 500px;
    color: white;
    text-align: center;
    background-color:rgb(13, 63, 63) ;
  }